//Fonts
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap");

//Colors------------------
$gray-color: #bcc8c6;
$red-color: #f33e3b;
$white-color: #ffffff;

//Shadow
$shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
  rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

//Root------------------
:root {
  font-size: 10px;
  font-family: "Work Sans", sans-serif;
  color: $gray-color;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  background-color: black;
  .container {
    width: 25rem;
    height: 50rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: $shadow;
    background-color: $white-color;
    header {
      height: 15%;
      border-radius: 1.5rem 1.5rem 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .color-changer {
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        i {
          color: $red-color;
          padding: 1rem;
          cursor: pointer;
        }
      }
    }
    main {
      height: 45%;
      display: flex;
      align-items: center;
      justify-content: center;
      .circle {
        width: 20rem;
        height: 20rem;
        border: 5px solid $gray-color;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .counter-title {
          font-size: 1.2rem;
        }
        #countdown {
          display: flex;
          font-size: 5rem;
          color: $red-color;
        }
      }
    }
    footer {
      height: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .rounds {
        display: flex;
        align-items: center;
        justify-content: center;
        .round {
          width: 2rem;
          margin-right: 1rem;
          height: 2rem;
          border: 1px solid;
          border-radius: 50%;
        }
        .last {
          margin-right: 0;
        }
      }
    }
    .situation-title {
      padding: 2rem 0;
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60%;
      padding: 1rem 0;
      color: $red-color;
      div{
        cursor: pointer;
      }
    }
  }
}
